{% if tags %}
  <div class="tags">
    {{ text }}
    <ul>
      {% for tag in tags limit: limit %}
        <li>
          <a href="/tags/{{ tag | slugify }}">
            {{- tag }}
            {% if collections %}({{ collections[tag].size }}){% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
