<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.Title }}">

<link rel="preconnect" href="https://use.typekit.net" crossorigin>
<link rel="preload" as="style" href="https://use.typekit.net/oyj1xes.css">
<link rel="stylesheet" href="https://use.typekit.net/oyj1xes.css" media="print" onload="this.media='all'">
<noscript>
  <link rel="stylesheet" href="https://use.typekit.net/oyj1xes.css">
</noscript>

<title>{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}