<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="author" content="Emily Horsman">
{{ with .Summary }}
<meta name="description" content="{{ . }}">
{{ end }}
<meta property="og:title" content="{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title}}">

<title>{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }} • {{ .Site.Title }}</title>
{{ partialCached "head/css.html" . }}
{{ with (.Site.GetPage "/posts").OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}