*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  margin-bottom: 5rem;
  max-width: 768px;
}

header {
  margin-bottom: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

img, video {
    max-width: 100%;
}

h1 {
    margin: 0;
}

h1 a {
    color: black;
}

h1 a:hover, h1 a:active, h1 a:focus {
    text-decoration: underline;
}
