$light-fg-color: black;
$light-fg-accent: #444;
$light-a-color: #bc46e1;
$dark-bg-color: #1e1e1e;
$dark-fg-color: white;
$dark-fg-accent: #d0d0d0;
$dark-a-color: #dc9eef;

$gutter: 18px;
$max-width: 768px;

:root {
  color-scheme: light dark;

  --gutter: #{$gutter};
  @media screen and (min-width: $max-width + 1px + $gutter * 2) {
    --gutter: 0px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $light-fg-color;
  font-family: Georgia, serif;
  margin: 0;
  margin-top: $gutter;
  margin-bottom: 5rem;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  > *:not(main, header) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

main,
header {
  width: 100%;
  max-width: $max-width;
}

main {
  > *:not(.image-container, video, .summary) {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  h1 {
    margin-right: 1rem;
  }
}

.heading ~ .heading {
  position: relative;
  margin-top: $gutter * 3.5;
}

.summary {
  > *:not(picture) {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
  }

  h2 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
  }

  .tags-and-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .tags {
      margin: 0;
    }

    time {
      margin-right: 1rem;
    }
  }

  p {
    margin: 0.5rem 0;
  }

  & ~ .summary {
    margin-top: $gutter * 3.5;
  }
}

main time {
  color: $light-fg-accent;
}

p,
ul,
ol {
  line-height: 1.5;
}

main {
  h1 {
    font-size: 1.6rem;
    margin: 0;
  }

  h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  p {
    margin: 1rem 0;
  }

  .image-container + .image-container {
    margin-top: 1rem;
  }

  li .image {
    margin-top: 1rem;
  }

  sup {
    line-height: 0;
  }
}

a {
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
  text-decoration-color: $light-a-color;
  color: currentColor;

  &:hover,
  &:active {
    color: $light-a-color;
  }
}

h1 a,
h2 a,
.series-list li a,
.content-list li a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

a.image {
  display: block;
  font-size: 0;
  text-align: center;
}

header {
  line-height: 1;
  margin-bottom: $gutter * 2.5;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: $gutter / 2;
  justify-content: space-between;
  align-items: center;

  padding-left: var(--gutter);
  padding-right: var(--gutter);

  a {
    font-size: 0.9rem;
  }

  a + a {
    margin-left: 0.5rem;
  }

  div:first-child a {
    font-size: 1.4rem;
  }
}

.image img {
  background: #e2e2e2;
}

.series-list {
  margin-top: 1rem;

  ol {
    margin-top: 0.5rem;
  }
}

.content-list {
  padding-left: 0;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    time {
      width: 7ch;
      flex-shrink: 0;
    }
  }
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: 5px solid #666;
}

.image-container span {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-left: var(--gutter);
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.6rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 0.5rem;
      line-height: 1;
    }
  }

  a {
    text-decoration: none;
    background-color: #fbf4c4;
    color: black;
    padding: 0.35rem 0.6rem;
    display: block;
    border-radius: 5px;
    font-size: 0.9rem;

    &:hover,
    &:active {
      background-color: #f7e984;
    }
  }

  .tag-bike a {
    background-color: #ddddef;

    &:hover,
    &:active {
      background-color: #989ace;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg-color;
    color: $dark-fg-color;
  }

  main time {
    color: $dark-fg-accent;
  }

  a {
    text-decoration-color: $dark-a-color;

    &:hover,
    &:active {
      color: $dark-a-color;
    }
  }

  blockquote {
    border-left-color: #bbb;
  }
}
