---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
    - all
permalink: /tags/{{ tag | slugify }}/
---
{% layout 'base.liquid' %}

{% block main %}
<h1>
  <a href="{{ page.url }}">Posts Tagged: {{ tag }}</a>
</h1>
{% for post in collections[tag] %}
  {% render 'post_summary.liquid', post: post %}
{% endfor %}
{% endblock %}
