<div class="heading">
  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

  {{ if and (eq .Type "posts") (not .IsSection) }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  {{ end }}
</div>

{{ $posts_in_series := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series }}
{{ range (seq (len $posts_in_series)) }}
  {{ $post := index $posts_in_series . }}
  {{ if eq $post.File.UniqueID $.File.UniqueID }}
    {{ with index $posts_in_series (add . -1) }}
    <div class="previous-post-notice">
      <a href="{{ .RelPermalink}}">
        <span>◀</span>
        Previously: <span class="previous-post-notice-underline">{{ .Title }}</span>
      </a>
    </div>
    {{ end }}
  {{ end }}
{{ end }}