<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      <div>
        <a href="{{ $.Site.Home.RelPermalink }}">{{ $.Site.Title }}</a>
      </div>
      <div>
        <a href="/about/">About</a>
        <a href="/posts/">Archive</a>
        {{ with (.Site.GetPage "/posts").OutputFormats.Get "rss" -}}
        <a href="{{ .RelPermalink }}">RSS</a>
        {{ end }}
      </div>
    </header>
    <main>{{ block "main" . }}{{ end }}</main>
  </body>
</html>
