{{ define "main" }}
  {{ range where site.RegularPages "Section" "posts" }}
  <div class="summary">
    {{ partial "content/banner_image.html" . }}

    <div>
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="tags-and-date">
        {{ partial "content/time.html" . }}
        {{ with .GetTerms "tags" }}
        <div class="tags">
          <ul>
            {{ range first 2 . }}
            <li {{ with .Params.classes }}class="{{ range . }}{{ . }} {{ end }}"{{ end }}>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
          {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
      <p>{{ .Summary }}</p>
    </div>
  </div>
  {{ end }}
{{ end }}
