{{ define "main" }}
  {{ partial "content/heading.html" . }}
  {{ partial "content/series_list.html" . }}
  {{ .Content }}
  {{ partial "content/tags.html" (dict "page" . "quantity" 10 "text" "Tags:&nbsp;") }}
 
  {{ if (eq .Type "posts") }}
  <ul class="next-prev">
    {{ with .NextInSection }}
    <li>Next ({{ partial "content/time.html" . }}): <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}

    {{ with .PrevInSection }}
    <li>Prev ({{ partial "content/time.html" .}}): <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
