<video controls playsinline
    {{ with .Get "poster" | $.Page.Resources.GetMatch }}
    poster="{{ .RelPermalink }}"
    {{ end }}
    {{ with .Get "muted" }}
    muted
    {{ end }}
    {{ with .Get "loop" }}
    loop
    {{ end }}
    >
    {{ with $.Page.Resources.GetMatch (.Get "webm") }}
    <source src="{{ .RelPermalink }}" type="video/webm" />
    {{ end }}
    {{ with $.Page.Resources.GetMatch (.Get "mp4") }}
    <source src="{{ .RelPermalink }}" type="video/mp4" />
    {{ end }}
</video>
